.category-container {
  display: flex;
  width: 100%;
  height: 228px;
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 350px;
    height: 472px;

    &::-webkit-scrollbar-thumb {
      height: 168px;
    }
  }

  @media screen and (min-width: 1440px) {
    max-width: 100%;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 12px;
    height: 114px;

    @media screen and (min-width: 768px) {
      height: 168px;
    }
  }
}
.category-list {
  display: flex;
  flex-direction: column;
  width: 307px;
  gap: 24px;
  @media screen and (min-width: 768px) {
    width: 309px;
    gap: 32px;
  }
  @media screen and (min-width: 1440px) {
    width: 318px;
  }
}

.category-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  @media screen and (min-width: 1440px) {
    font-weight: 300;
  }
}

.category-link {
  color: var(--text-main);
  white-space: nowrap;
}

.active {
  color: var(--sidebar-categories-current);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

