@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --body:#F6F6F6;
  --header:#fff;
  --sidebar-categories:rgba(17, 17, 17, 0.60);
  --sidebar-categories-current:#4f2ee8;
  --text-main:#111;
  --scroll:#E0E0E0;


// --scroll:rgba(17, 17, 17, 0.60);
// --body:#202024;
// --header:#111;
// --sidebar-categories:rgba(255, 255, 255, 0.60);
// --sidebar-categories-current:#eac645;
// --text-main:#fff;

  // --color-body-white-theme: #f6f6f6;
  // --color-white-theme: #fff;
 
  // --color-dark-theme: #111;
  --color-lite-dark-theme: #202024;
  --text-second:#b4afaf;

  --color-accent: #4f2ee8;
  --color-links: #eac645;

  --color-gradient: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-main);
  font-family: 'DM Sans', 'Montserrat', 'Roboto', 'Open Sans', 'Raleway',
    'Arial', sans-serif;
  background-color: var(--body);
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .main-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

[data-page-theme='light'] {
  --body:#F6F6F6;
  --header:#fff;
  --sidebar-categories:rgba(17, 17, 17, 0.60);
  --sidebar-categories-current:#4f2ee8;
  --text-main:#111;
  --scroll:#E0E0E0;
  // --color-body-white-theme: #f6f6f6;
  // --color-white-theme: #fff;
  // --header-background-color: #fff;
  // --color-link-title: #111;
}

[data-page-theme='dark'] {
  --scroll:rgba(17, 17, 17, 0.60);
--body:#202024;
--header:#111;
--sidebar-categories:rgba(255, 255, 255, 0.60);
--sidebar-categories-current:#eac645;
--text-main:#fff;
  // --color-body-white-theme: #202024;
  // --color-white-theme: #202024;
  // --header-background-color: #111;
  // --color-link-title: #fff;
}
