.footer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    
    display: flex;
    flex-direction: column;
    width: 335px;
    max-height: 806px;
    padding: 40px 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--header);
    border: 2px solid var(--text-main);
    border-radius: 18px;
}

.backdrop-modal-footer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;

    z-index: 10;

    background-color: var(--sidebar-categories);

    opacity: 1;
    scale: 1;
    visibility: visible;

    transition: opacity 250ms linear, scale 250ms linear, visibility 250ms linear;
}

.backdrop-modal-footer.is-hidden-footer {
    display: none;
    opacity: 0;
    visibility: hidden;
    scale: 0.9;
    pointer-events: none;
}

.footer-head{
    color: var(--text-main);
    font-size: 40px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1.6px;
}

.contact-list {
    width: 248px;
    height: 84px;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0 10px;
}

.contact-list-item{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.contact-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
    color: var(--text-main);
}

.contact-link{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
    text-decoration: none;
}

.footer-btn{
    position: fixed;
    border: none;
}

#settings{
    display: block;
    width: 24px;
    height: 24px;
    fill: var(--color-accent);
}

.footer-btn#settings:hover, .footer-btn#settings:focus {
    animation-name: spin;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    .contact-list {
        height: 84px;
        gap: 0 10px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1200px) {
    .contact-list{
        height: 56px;
        gap: 0 10px;
    }
}