.backdrop-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: auto;

  z-index: 10;

  background-color: rgba(17, 17, 17, 0.4);

  opacity: 1;
  scale: 1;
  visibility: visible;

  filter: blur(0);

  transition: opacity 250ms linear, scale 250ms linear, visibility 250ms linear;
}

.backdrop-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  scale: 0.9;
  pointer-events: none;
  filter: blur(20px);
}

.container-popup {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  z-index: 15;

  display: flex;
  flex-direction: column;
  width: 335px;
  max-height: 806px;
  padding: 40px 24px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--header);
  border: 2px solid var(--text-main);
  border-radius: 18px;

  @media screen and (min-width: 768px) {
    width: 579px;
    max-height: 501px;
    padding: 40px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-btn {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.14px;
  line-height: 1.28;
  color: var(--text-main);
  background-color: var(--header);
  border-radius: 40px;
  border: 2px solid var(--color-accent);
}

.btn-add {
  height: 46px;
  padding: 14px 28px;

  transition: color 250ms linear, background-color 250ms linear;
}

.btn-remove {
  height: 46px;
  padding: 14px 23px;

  transition: color 250ms linear, background-color 250ms linear;
}

.btn-add:is(:hover, :focus) {
  background-color: var(--color-accent);
  color: white;
}

.btn-remove:is(:hover, :focus) {
  background-color: var(--color-accent);
  color: white;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn-close-modal {
  position: absolute;
  width: 24px;
  height: 24px;
}

.close-modal {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  stroke: var(--text-main);
  border: none;
}

.close-cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-modal:is(:hover, :focus) {
  stroke: var(--color-accent);
}

.img-container-pop-up {
  position: relative;
  height: 408px;
  margin-bottom: 14px;
  border-radius: 8px;
  overflow: hidden;
}

.img-modal {
  width: 100%;
}

.book-header {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.28;
  letter-spacing: -0.64px;
}

.book-author {
  margin-bottom: 18px;
  color: var(--text-second);
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.16;
  letter-spacing: -0.48px;
}

.book-description {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}

.icons-modal {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.book-stores {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.book-modal {
  filter: saturate(0%);
}
.book-modal:is(:hover, :focus) {
  scale: 1.1;
}

.js-dark-mode-amazon:is(:hover, :focus) {
  filter: brightness(0) invert(1);
}

.modal-congrats-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  width: 242px;
  height: 36px;
  color: var(--sidebar-categories);
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.4px;
}

.book-modal.amazon-logo {
  width: 62px;
  height: 19px;
}

.apple-book-logo {
  width: 33px;
  height: 32px;
}

.book-shop-logo {
  width: 38px;
  height: 36px;
}

.js-dark-mode {
  background-color: var(--color-lite-dark-theme);
  stroke: white;
  color: white;
}

.js-dark-mode-amazon {
  filter: brightness(0) invert(1);
}

.js-dark-mode-congrats {
  color: var(--sidebar-categories);
}

.default-book-pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 64px;
  fill: var(--color-button);
}

@media screen and (min-width: 768px) {
  // .container-popup {
  //   width: 579px;
  //   max-height: 501px;
  //   padding: 40px;
  // }

  .book-header {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.96px;
  }

  .book-author {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
  }
  .book-description {
    margin-bottom: 20px;
  }
  .modal-text-container {
    width: 279px;
  }

  .modal-content-container {
    display: flex;
    gap: 24px;
  }

  .img-container-pop-up {
    width: 192px;
    height: 281px;
    margin-bottom: 40px;
  }

  .btn-add {
    width: 100%;
    height: 64px;
    padding: 14px 28px;
  }

  .btn-remove {
    width: 100%;
    height: 64px;
    padding: 14px 23px;
  }

  .modal-btn {
    font-size: 18px;
    letter-spacing: -0.18px;
    line-height: 1.56;
  }

  .modal-congrats-text {
    margin-top: 8px;
    width: 324px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.48px;
  }
}

@media screen and (min-width: 1440px) {
  .container-popup {
    width: 579px;
    height: 501px;
  }
}
