html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.js-sroll-up {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
// @media screen and (min-width: 768px) {
//   .js-sroll-up {
//     right: calc(50% - 704px / 2);
//   }
// }
// @media screen and (min-width: 1440px) {
//   .js-sroll-up {
//     right: calc(50% - 1392px / 2);
//   }
// }

.scroll-up-wrapper {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 54px;
  // height: 54px;
  border-radius: 50%;
}

.scroll-up-icon{
  width: 64px;
  height: 64px;
}