.sh-title {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.28px;
  @media (max-width: 375px) {
    font-size:7.7vw;
  }
}
.shopping-title {
  color: var(--text-main);
}
.title-span {
  color: var(--color-accent);
}

.empty-sh-list {
  display: none;
}
.book-column-img {
  margin: 0 auto;
  width: 265px;
  height: 198px;
}

.shopping-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sh-list-section img {
  display: block;
  max-width: 100%;
}

.shopping-list-item {
  position: relative;
  display: flex;
  padding: 14px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background-color: var(--header);
}

.sh-book-title {
  margin-bottom: 4px;
  color: var(--text-main);
  font-size:3.7vw;
  
  line-height: 1.13;
  letter-spacing: -0.64px;
  @media screen and (min-width: 375px) {
    font-size: 16px;
  }
  @media screen and (min-width: 767px) {
  line-height: 1.17;
  }
}
.sh-book-category {
  margin-bottom: 8px;
  color: var(--text-second);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.36px;
}

.div-text-container {
  height: 68px;
  overflow: hidden;
}

.sh-book-description {
  color: var(--text-main);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.56px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.sh-book-author {
  color: var(--text-second);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
}

.shopping-links {
  display: flex;
  align-items: center;
  gap: 8;
}

.sh-book-img {
  margin-right: 14px;
  width: 100px;
  height: 142px;
  border-radius: 8px;
}

.book-stores {
  // filter: saturate(0%);
}

.sh-soc-item .amazon-store {
  width: 32px;
  height: 11px;
}
.sh-soc-item:is(:hover, :focus) {
  scale: 1.1;
}

// .amazon-store:is(:hover, :focus) {
//   filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2)) saturate(0);
// }

.sh-soc-item .book-shop {
  width: 16px;
  height: 16px;
}
// .sh-soc-item .book-shop:is(:hover, :focus) {
//   filter: saturate(0%) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
// }

.sh-soc-link .apple-store {
  width: 16px;
  height: 16px;
}
// .sh-soc-link .apple-store:is(:hover, :focus) {
//   filter: saturate(0%) drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
// }

.sh-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.js-dark-mode-amazon {
  filter: brightness(0) invert(1);
}

.js-dark-mode-amazon:is(:hover, :focus) {
  filter: invert(1) brightness(1);
}

.js-dark-mode-apple:is(:hover, :focus) {
  filter: saturate(1);
}

.sh-list-delete-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
  margin-bottom: 10px;

  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 0;

  background-color: var(--color-accent);
  border-radius: 50%;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px){

    bottom: 72%;
    left: 95%;
    margin-left: 0;
    margin-bottom: 0;
    width: 34px;
    height: 34px;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1440px){
bottom: 68%;
    left: 96%;
  }
}

.sh-book-info-link-wrap {
  display: flex;
  justify-content: space-between;
}

.sh-list-delete-icon {
  fill: #4f2ee8;
  stroke: #fff;
}

// @media screen and (max-width: 767px) {
//   .sh-book-category {
//     margin-bottom: 8px;
//     color: var(--text-second);
//     font-size: 12px;
//     font-weight: 400;
//     line-height: 1.17;
//     letter-spacing: 0.36px;
//   }
//   .sh-book-description {
//     color: var(--text-main);
//     font-size: 10.6px;
//     font-weight: 400;
//     line-height: 1.23;
//     letter-spacing: -0.56px;
//   }

//   .sh-book-author {
//     color: var(--text-second);
//     font-size: 12px;
//     font-style: italic;
//     font-weight: 400;
//     line-height: 1.17;
//     letter-spacing: -0.48px;
//   }
// }

@media screen and (min-width: 768px) {
  .shopping-list-item {
    position: relative;
    display: flex;
    padding: 30px 24px;
  }

  .sh-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
  .book-column-img {
    width: 322px;
    height: 241px;
  }

  .sh-book-img {
    margin-right: 24px;
    width: 116px;
    height: 165px;
  }

 .amazon-store {

    width: 48px;
    height: 15px;
  }
  .book-shop {
    width: 32px;
    height: 30px;
  }

  .apple-store {
    width: 28px;
    height: 27px;
  }

  .sh-wrap {
    flex-direction: column;
    gap: 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .sh-book-category {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .empty-sh-list {
    margin-left: 200px;
  }
}

.sh-list-delete-icon {
  fill: #4f2ee8;
  stroke: #fff;
}
