.support-conteiner {
  padding: 24px 40px 20px 40px;
  border-radius: 16px;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  color: #ffffff;
}

.support-title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.12px;
}

.fund-list {
  counter-reset: my-counter;
  list-style-type: none;
}

.fund-list li {
  counter-increment: my-counter;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.fund-list li::before {
  content: counter(my-counter, decimal-leading-zero);
  margin-right: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.icon-trident {
  fill: #ffffff;
  margin-left: 12px;
  transform: translateY(7px);
}

.support-img {
  filter: brightness(0%) invert(100%);
}
