{{#each this}}
  <li>
    <a href='#' class='book-item'>
      <div class='img-box'>
        <img src='{{book_image}}' alt='Book cover' />
        <div class='overlay'>
          <p class='overlay-text'>quick view </p>
        </div>
      </div>
      <h3 class='book-title'>{{title}}</h3>
      <p class='book-author'>{{author}}</p>
    </a>
  </li>
{{/each}}