<h2 class="visually-hidden">All categories</h2>
<div class="category-container">
  <ul class="category-list">
    <li class="category-item list">
      <a class="category-link link" href="">All categories</a>
    </li>
    <li class="category-item list">
      <a class="category-link link" href=""
        >Combined Print and E-book Fiction</a
      >
    </li>
    <li class="category-item list">
      <a class="category-link link" href=""
        >Combined Print & E-book Nonfiction</a
      >
    </li>
    <li class="category-item list">
      <a class="category-link link" href="">Hardcover fiction</a>
    </li>
    <li class="category-item list">
      <a class="category-link link" href="">Hardcover nonfiction</a>
    </li>
    <li class="category-item list">
      <a class="category-link link" href="">Paperback trade fiction</a>
    </li>
    <li class="category-item list">
      <a class="category-link link" href="">Paperback nonfiction</a>
    </li>
    <li class="category-item list">
      <a class="category-link link" href="">Advice, how-to & Miscellaneous</a>
    </li>
    <li class="category-item list">
      <a class="category-link link" href=""
        >Children&rsquo;s middle grade hardcover</a
      >
    </li>
  </ul>
</div>
