<footer class="footer">
    <div class="container">
        <h4 class="footer-head">Our team</h4>
        <ul class="contact-list">
            <li class="contact-list-item">
                <p class="contact-text">Yurii Vasiliev</p>
                <a href="" class="contact-link">uraplanetianin@gmail.com</a>
            </li>
            <li class="contact-list-item">
                <p class="contact-text">Olga Bilynska</p>
                <a href="" class="contact-link">olgabilinskaya@gmail.com</a>
            </li>
            <li class="contact-list-item">
                <p class="contact-text">Fedir Kandaurov</p>
                <a href="" class="contact-link">infinity_ride@outlook.com</a>
            </li>
            <li class="contact-list-item">
                <p class="contact-text">Oleksandr Stasiuk</p>
                <a href="" class="contact-link">o.v.stasiuk@gmail.com</a>
            </li>
            <li class="contact-list-item">
                <p class="contact-text">Sergey Mushtukov</p>
                <a href="" class="contact-link">hrystik90@gmail.com</a>
            </li>
            <li class="contact-list-item">
                <p class="contact-text">Sergii Pokhylko</p>
                <a href="" class="contact-link">sergii.pokhylko@gmail.com</a>
            </li>
            <li class="contact-list-item">
                <p class="contact-text">Yana Levchyshyna</p>
                <a href="" class="contact-link">smoliarchukyana@gmail.com</a>
            </li>
            <li class="contact-list-item">
                <p class="contact-text">Vasilisa Skiba</p>
                <a href="" class="contact-link">vasylysaskyba@gmail.com</a>
            </li>
            <li class="contact-list-item">
                <p class="contact-text">Marina</p>
                <a href="" class="contact-link">marixa3082@gmail.com</a>
            </li>
            <li class="contact-list-item">
                <p class="contact-text">Oleksandr Kalenchenko</p>
                <a href="" class="contact-link">owheels.qa@gmail.com</a>
            </li>
            <li class="contact-list-item">
                <p class="contact-text">Kirill Shkurko</p>
                <a href="" class="contact-link">shkurkoka@gmail.com</a>
            </li>
        </ul>
    </div>
</footer>