<header class="header container" id="top">
  <nav class="header-title">
    <a href="./index.html" class="title-link">
      <svg class="header-icon">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>
    <ul class="header-nav">
      <li><a href="./index.html" class="header-link-home">HOME</a></li>
      <li>
        <a href="./shopping-list.html" class="header-shopping-link">
          <span class="header-shopping">SHOPPING LIST</span>
          <svg class="shopping-icon">
            <use href="./images/sprite.svg#bag"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <div class="theme-switch">
    <input type="checkbox" class="js-theme-switch" id="toggle-theme" />
    <label for="toggle-theme" class="toggle"></label>
  </div>
  <div class="auth-menu-root"></div>
  <button class="menu-open" type="button">
    <svg class="menu-open-icon">
      <use href="./images/sprite.svg#burger"></use>
    </svg>
  </button>
  <div class="backdrop-header is-hidden">
    <div class="mob-menu-wrapper">
      <div class="mobile-menu">
        <div class="container book">
          <div class="mobile-container-header">
            <nav class="header-title">
              <a href="./index.html" class="title-link">
                <svg class="header-icon">
                  <use href="./images/sprite.svg#logo"></use>
                </svg>
              </a>
              <!-- <div class="auth-menu-root"></div> -->
              <ul class="header-nav">
                <li>
                  <a href="./index.html" class="header-link-home">HOME</a>
                </li>
                <li>
                  <a href="./shopping-list.html" class="header-shopping-link">
                    <span class="header-shopping">SHOPPING LIST</span>
                    <svg class="shopping-icon">
                      <use href="./images/sprite.svg#bag"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </nav>
            <div class="theme-switch">
              <input type="checkbox" id="toggle-theme" />
              <label for="toggle-theme" class="toggle"></label>
            </div>
            <!-- <div class="auth-menu-root"></div> -->
            <button type="button" class="mobile-menu-close-btn">
              <svg class="mobile-menu-close-btn-icon">
                <use href="./images/sprite.svg#close"></use>
              </svg>
            </button>
          </div>
          <div class="auth-menu-root"></div>
          <ul class="mobile-header-nav">
            <li>
              <a href="./index.html" class="mobile-header-link-home"
                ><span class="header-shopping current">HOME</span></a
              >
            </li>
            <li>
              <a
                href="./shopping-list.html"
                class="mobile-header-shopping-link"
              >
                <span class="header-shopping">SHOPPING LIST</span>
                <svg class="shopping-icon">
                  <use href="./images/sprite.svg#bag"></use>
                </svg>
              </a>
            </li>
          </ul>
          <button type="button" data-action="logout" class="logout-btn">
            <span>Log out</span>
            <svg class="logout-icon" width="20" height="20">
              <use href="./images/sprite.svg#arrow-narrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- <div class="modal-header-wrapper"><div class="modal-header-menu"></div></div> -->
