<div class="container-popup">
  <svg class="close-modal" width="24" height="24">
    <use href="./images/sprite.svg#close"></use>
  </svg>
  <div class="book-stores">
    <!-- <img
      class="book-modal"
      srcset="./images/stores/amazon.png 1x, ./images/stores/amazon@2x.png 2x"
      src="./images/stores/amazon.png"
      alt="Amazon shop"
      width="62"
      height="19"
    />
    <img
      class="book-modal"
      srcset="./images/stores/book.png 1x, ./images/stores/book@2x.png 2x"
      src="./images/stores/book.png"
      alt="Shop"
      width="33"
      height="32"
    />
    <img
      srcset="
        ./images/stores/book-shop.png    1x,
        ./images/stores/book-shop@2x.png 2x
      "
      src="./images/stores/book-shop.png"
      alt="Book shop"
      width="38"
      height="36"
    /> -->
  </div>

  <button class="modal-btn" type="submit">remove from the shopping list</button>
  <p class="modal-congrats-text">
    Сongratulations! You have added the book to the shopping list. To delete,
    press the button “Remove from the shopping list”.
  </p>
</div>
