<div class="container-popup">
  <svg class="close-modal" width="24" height="24">
    <use href="./images/sprite.svg#close"></use>
  </svg>
  <button class="modal-btn btn-add" data-action="add" type="button">
    add to shopping list
  </button>
  <div class="js-success">
    <button
      class="modal-btn btn-remove visually-hidden"
      data-action="remove"
      type="button"
    >
      remove from the shopping list
    </button>
    <p class="modal-congrats-text visually-hidden">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
