<div class="support-container">
  <h2 class="support-title">
    Support Ukraine
    <svg class="icon-trident" width="20" height="32">
      <use href="./images/sprite.svg#icon-trident"></use>
    </svg>
  </h2>
  <div class="swiper">
    <ul class="swiper-wrapper fund-list"></ul>
  </div>
  <svg class="button-next" width="38" height="38">
    <use href="./images/sprite.svg#slider"></use>
  </svg>
  <svg class="button-prev visually-hidden" width="38" height="38">
    <use href="./images/sprite.svg#slider"></use>
  </svg>
</div>